<html>
    <head>
        <title>Product- Categoty App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            .adduser-logoutbox a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        {{{body}}}
    </body>
</html>